<section class="home-section" id="home">
    <div class="container">
        <p class="home-text">Look closer.<br class="mob"/>
        The truth is hidden in plain sight.</p>
        <h1 class="home-title">Every Clue Changes the Story</h1>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <div class="about-wrapper">
            <h2>About the Game</h2>
            <div class="about-text">
                <p>Clearbend places players in the role<br class="mob"/>
                of an investigator examining unusual events across a quiet town.</p>
                <p>By collecting clues, reviewing evidence, and reconstructing timelines, players gradually uncover the connections behind
                each case.</p>
                <p>There's always more than meets the eye in each location - you just gotta know where to look.</p>
            </div>
 </div>            
            <picture>
                <source srcset="
                                /img/about/desk.png 1x,
                                /img/about/desk@2x.png 2x
                                " media="(min-width: 1440px)" />
                <source srcset="
                                /img/about/mob.png 1x,
                                /img/about/mob@2x.png 2x
                                " media="(max-width: 1439px)" />
                <img src="/img/about/mob.png" alt="Every Clue Changes the Story" loading="lazy" />
            </picture>
       
    </div>
</section>
<section class="core-section" id="core">
    <div class="container">
        <div class="core-wrapper">
        <h2>Core Gameplay</h2>
        <p class="core-text">You can't just randomly click through - you actually need to think about how everything fits together.</p>
    </div>
        <div class="swiper core-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/img/core/one.png" alt="Explore" loading="lazy">
                    <p>Explore investigation scenes</p>
                </div>
                <div class="swiper-slide">
                    <img src="/img/core/two.png" alt="Inspect" loading="lazy">
                    <p>Inspect objects and environmental clues</p>
                </div>
                <div class="swiper-slide">
                    <img src="/img/core/three.png" alt="Collect" loading="lazy">
                    <p>Collect evidence fragments</p>
                </div>
                <div class="swiper-slide">
                    <img src="/img/core/four.png" alt="Connect" loading="lazy">
                    <p>Connect clues within a case board</p>
                </div>
                <div class="swiper-slide">
                    <img src="/img/core/five.png" alt="Reconstruct" loading="lazy">
                    <p>Reconstruct event timelines</p>
                </div>
            </div>
        </div>
    </div>
</section>