.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  gap: 14px;
text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #dee2ee;
}

.footer-text {
letter-spacing: 0.04em;
  text-align: center;
  color: #dee2ee;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer-navigation {
    gap: 8px;
  }

}