.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: bottom 64px center;
    background-size: 100% 311px;
    height: 813px;
}
.home-text{
    font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: 0.08em;
        text-align: center;
        color: #8993ab;
        margin-top: 44px;
}
.home-title{
    margin-top: 32px;
    font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 70px;
        line-height: 1;
        letter-spacing: 0.08em;
        text-align: center;
        color: #dee2ee;
text-shadow: inset 0 3px 4px 0 rgba(42, 47, 58, 0.7);
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
        background-position: bottom 80px center;
        background-size: 1200px 544px;
        height: 914px;
 }
 .mob{
    display: none;
 }
 .home-text{
    text-align: left;
letter-spacing: 0.16em;
margin-top: 64px;
 }
 .home-title{
margin-top: 16px;
font-size: 80px;
text-align: left;
 }
}
/* About the Game */
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.about-wrapper{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
}
.about-text{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        width: 323px;
}
@media only screen and (min-width: 1440px) {
 .about-container{
    flex-direction: row;
    justify-content: center;
    gap: 64px;
 }
 .about-wrapper{
    width: 423px;
    align-items: start;
   text-align: left;
   gap: 32px;
 }
 .about-text{
    text-align: left;
    width: 410px;
 }
}
/* Core Gameplay */
.core-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-bottom: 48px;
}
.core-text{
        font-style: italic;
        font-weight: 200;
        text-align: center;
        color: #dee2ee;
}
.core-swiper .swiper-slide{
    padding: 16px;
        width: 212px;
        height: 270px;
        background: linear-gradient(180deg, #1f232b 0%, #171a21 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
}
.core-swiper .swiper-slide p{
    width: 170px;
    text-align: center;
}
@media only screen and (min-width: 1440px) {
.core-wrapper{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 56px;
}
.core-swiper .swiper-wrapper{
    gap: 32px;
    justify-content: center;
        height: 276px;
}
}
/* Features */
.features-section{
    background-image: url("/img/features/mob.png"), linear-gradient(180deg, #0f1115 0%, #1f232b 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, top center;
    background-size: 100% 207px, cover;
    height: 664px;
}
.features-title{
    text-align: center;
}
.features-list{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.features-item{
    display: flex;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid #2a2f3a;
        padding: 8px 0px;
}
.features-img{
    width: 24px;
    height: 24px;
}
@media only screen and (min-width: 1440px) {
.features-section {
        background-image: url("/img/features/desk.png"), linear-gradient(180deg, #0f1115 0%, #1f232b 100%);
        background-size: 100% 623px, cover;
height: 1031px;
    }
    .features-list{
        margin-top: 56px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        width: 1144px;
        margin-left: auto;
        margin-right: auto;
    }
    .features-img{
        width: 32px;
        height: 32px;
    }
    .f1{
        width: 410px;
        padding: 16px;
        justify-content: center;
    }
    .f2{
        width: 360px;
        padding: 16px;
        justify-content: center;
    }
}
/* How to Play */
.how-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-bottom: 48px;
}
.how-text{
    font-style: italic;
    text-align: center;
}
.how-list{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
}
.how-item{
    padding: 8px 0px;
        width: 343px;
        height: 60px;
background: linear-gradient(180deg, #1f232b 0%, #171a21 100%);
display: flex;
align-items: center;
gap: 4px;
letter-spacing: -0.02em;
    color: #dee2ee;
}
.number{
    padding: 10px;
        width: 44px;
        height: 44px;
font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #b19148;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
  .how-wrapper{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 58px;
  }
  .how-list{
    flex-direction: row;
    gap: 32px;
  }
  .how-item{
    flex-direction: column;
    padding: 16px 24px;
        width: 212px;
        height: 156px;
        text-align: center;
        gap: 16px;
  }
  .number{
    width: 60px;
        height: 60px;
        font-size: 40px;
  }
  .desk{
    display: block;
  }
}
/* Gallery */
.gallery-title{
    text-align: center;
    margin-bottom: 56px;
}
.btn {
    display: none;
}

@media only screen and (min-width: 1440px) {
    .gallery-container {
        position: relative;
    }

    .btn {
        display: block;
        border-radius: 100px;
        border: inherit;
        background-color: rgba(31, 36, 48, 0.2);
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .gallery-swiper {
        width: 1030px;
        margin-left: auto;
        margin-right: auto;

    }

    .gallery-next {
        right: 9%;
        z-index: 2;
    }

    .gallery-prev {
        left: 9%;
        z-index: 2;
    }
}
/* FAQ */
.faq-title{
    text-align: center;
    margin-bottom: 58px;
}
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 0 auto;
    gap: 12px;

}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
}

.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
    border: none;
    background: inherit;
    width: 343px;
    height: auto;
font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 1.5;
    color: #dee2ee;
border-bottom: 2px solid #1f232b;
    padding: 8px 0px;
    width: 335px;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;
    border: none;
    background-color: inherit;
    border-radius: 100%;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el.open .faq-acc-arr {
    transform: rotate(180deg);
}

.faq-acc-el-descr-frame {
    background: inherit;
    width: 343px;

    text-align: left;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}


.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border: none;
    padding: 8px 20px 8px 0;
    background: inherit;
    width: 343px;
    max-height: 500px;

}

@media only screen and (min-width: 1440px) {

    .faq-acc {
        width: 994px;
        margin: 0 auto;
        gap: 16px;
    }

    .faq-acc-el-trigger {
        width: 994px;
        font-size: 24px;
    }

    .faq-acc-el-descr-frame {
        width: 994px;
    }

    .faq-acc-el.open .faq-acc-el-descr-frame {
        width: 994px;
    }
}